<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5 w-100">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #3e4551">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">RECOMENDACIONES</h5>
    
                <p>
                    Nos dedicamos a brindarte las mejores recomendaciones de zapatos para que encuentres el par perfecto que se ajuste a tu estilo y necesidades. Nuestro objetivo es hacer que tu experiencia de búsqueda de zapatos sea más fácil, divertida y satisfactoria.
                </p>
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
    
                <ul class="list-unstyled mb-0">
                    <li>
                    <a href="recommendations" class="text-white">Recomendaciones</a>
                    </li>
                    <li>
                    <a href="myaccount" class="text-white">Mi Cuenta</a>
                    </li>
                    
                </ul>
                </div>
                <!--Grid column-->
    
                
                
                <!--Grid column-->
            </div>
            <!--Grid row-->
            </section>
            <!-- Section: Links -->
    
            <hr class="mb-4" />
    
            <!-- Section: CTA -->
            <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="mr-3">Register for free</span>
                <button type="button" class="btn btn-outline-light btn-rounded">
                Sign up!
                </button>
            </p>
            </section>
            <!-- Section: CTA -->
    
            <hr class="mb-4" />
    
            <!-- Section: Social media -->
            <section class="mb-4 text-center">
            <!-- Facebook -->
            <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>
    
            <!-- Twitter -->
            <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-twitter"></i
                ></a>
    
            <!-- Google -->
            <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-google"></i
                ></a>
    
            <!-- Instagram -->
            <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-instagram"></i
                ></a>
    
            <!-- Linkedin -->
            <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-linkedin-in"></i
                ></a>
    
            <!-- Github -->
            <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-github"></i
                ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
            >
            © 2023 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/"
            >Proyecto Programación 2023</a
            >
        </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
  <!-- End of .container -->